body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.encabezado-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #d4d5ee;
    color: rgb(59, 111, 160);
    border-radius: 15px;
}

.encabezado-cv h1 {
    margin: 0;
    font-size: 2.5em;
}

.encabezado-cv h2 {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: 400;
}

.sobre-mi, .experiencia-laboral, .estudios, .competencias, .mas-info {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    background-color: rgb(229, 230, 235);
    border-radius: 15px;
    padding: 20px;
}

.sobre-mi h2, .experiencia-laboral h2, .estudios h2, .competencias h2, .mas-info h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(107, 167, 223);
    padding-bottom: 5px;
    color: rgb(56, 97, 134);
}

.puesto, .estudio {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 5px solid #1d507a;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;

}

.competencias ul {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 5px solid #1d507a;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.mas-info ul {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 5px solid #1d507a;
    border-radius: 10px;
    padding: 15px;
    padding-left: 20px;
}

.puesto p, .estudio p {
    font-weight: 600;
    color: rgb(122, 122, 117);
    margin-bottom: 10px;
}

.mas-info div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
